/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

h1 {
  font-size: 2em;
}

.main-content {
  width: 800px;
}

.product-img {
  max-height: 300px;
}

.product-name {
  font-weight: bold;
}